body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  font-size: 16px;
  line-height: 1.6;
  background-color: #FFFFFF;
  margin-top: 2%;
}
body, html {
  height: 100%;
}

header {
  max-width: 800px;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}