body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300px;
  font-size: 16px;
  line-height: 1.6;
  background-color: #FFFFFF;
  margin-top: 2%;
}
body, html {
  max-height: 100%;
}

header {
  max-width: 100%;
  max-height: 100%;
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 9%;
  text-align: center;
  font-weight: bold;
}

.button-class {
  width: 90%;
  background-color: #c23b22;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #c23b22;
}

.loadingImage{
  display: none;
  margin: 150px;
  align-self: center;
  box-sizing: border-box;
}

.showImg{
  display: block;
  margin-left: 32%;
  margin-top: 5%;
}

.addPokemon{
  padding-top: 7%;
}
section {
  display: block;
  padding-left: 21%;
}

.pokemon-list {
  padding-left: 10%;
  list-style-type: none;
}

.modal-body {
  display: block;
  margin: auto;
}

.navbar {
  height: 12%;
  display: inline-flex;
}

@media all and (max-width: 500px) {
  header {
    max-width: 100%;
    float: none;
    display: block;
    text-align: left;
  }

  section {
    padding-top: 20%;
  }

  #subButton {
    padding-left: 10%;
  }

  .form-control {
    max-width: 100%;
    width: 70%;
    height: 25%;
    float: none;
  }
    #newPokemon {
    margin-right: 2%;
  }

  .addNewPokemon {
    margin-right: 10%;
  }

  body {
    max-width: 100%;
  }
  #loading {
    width: 5%;
    padding-right: 90%;
    margin-right: 90%;
  }
  .loadingImage {
    width: 250px;
    margin-top: 250px;
    margin-left: 75px;
    align-self: center;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
    .form-control {
    max-width: 100%;
    width: 70%;
    height: 25%;
    float: none;
  }
    section {
    padding-top: 20%;
  }

}  
